<div class="background">
    <div class="card-header">
        {{entreprise}}

        <div class="card">
            <div class="name">
                {{nom}}
            </div>
            <div class="info">
                <p>
                    Prenom : {{prenom}}
                </p>
                <p>
                    email : {{email}}
                </p>
                <p>
                    Phone : {{telephone}}
                </p>
            </div>
        </div>
    </div>
</div>