
<!-- <app-carte-visite></app-carte-visite> -->

<!-- <app-alert-button></app-alert-button> -->

<!-- <app-liste></app-liste> -->
<!-- 
<app-magie></app-magie> -->

<!-- <app-liste-filtre></app-liste-filtre> -->

<!-- <app-poussin></app-poussin> -->

<!-- <app-hidder></app-hidder> -->

<!-- <app-show-date></app-show-date> -->

<!-- <app-button-menu></app-button-menu> -->

<!-- <app-clock-menu></app-clock-menu> -->

<!-- <app-liste-courses></app-liste-courses> -->

<!-- <app-reactive-liste-courses></app-reactive-liste-courses> -->

<!-- <app-form-builder-liste-courses></app-form-builder-liste-courses> -->

<app-card-form></app-card-form>